{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création de Picture{% endblock %}

{% block body %}
    <h1>Créer une nouvelle image</h1>

    {{ include('picture/_form.html.twig') }}

    <a href="{{ path('picture_index') }}">Retour à la liste</a>
{% endblock %}
