{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création de Membre{% endblock %}

{% block body %}
    <h1>Créer un nouveau membre</h1>

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('member_index') }}">Retour à la liste</a>
{% endblock %}
