{% extends 'base.html.twig' %}

{% block title %}Groupes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/rotating-card.css">
    <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
{% endblock %}

{% block body %}

    {% if app.user and app.user.isAdmin() %}
    <a href="{{ path('band_new') }}" class="btn btn-primary">Ajouter un groupe</a>
    {% endif %}

    <h1>Tous nos Groupes</h1>

    <div style="flex-wrap: wrap;display: flex;">
            {% for band in bands %}
                {% include 'band/card.html.twig' with {band:band} only %}
            {% endfor %}
    </div>
    
{% endblock %}
