{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Création de Scène{% endblock %}

{% block body %}
    <h1>Créer une nouvelle scène</h1>

    {{ include('scene/_form.html.twig') }}

    <a href="{{ path('scene_index') }}">Retour à la liste</a>
{% endblock %}
