<section style="display:flex;flex-direction:column;align-items:center;width:100%">
    <img style="border-radius:120px;width:240px;height:240px" src="https://thispersondoesnotexist.com/image">
    <h1>{{profil.firstname~" "~profil.lastname}}</h1>
</section>